<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/net.css">
    <link rel="stylesheet" href="../styles/networking.css">
</head>
<body>
    <div id="main">
        <div >
            <img src="../assets/image.jpeg" alt="logo" width="180px">
        </div>
        <div id="list">
            <ul id="tag">
                <li><a href="../views/aboutus.html">Home</a></li>
                <li><a href="../views/aboutus.html">About</a></li>
                <li><a href="../views/interventions.html">Intervention</a></li>
                <li><a href="../views/networking.html">Networking</a></li>
                <li><a href="../views/activitis.html">Activitis</a></li>
                <li><a href="../views/contribute.html">Contribute</a></li>
                <li><a href="../views/our-partner.html">Our partner</a></li>
                <li><a href="../views/contactus.html">Contact</a></li>
                <li class="donate">Donate now</li>
            </ul>
        </div>
    </div>
    <div id="image-container">
        <h1 class="work">Networking </h1>
    </div>
</body>
</html>